body 
  width:  100%
  height: 100%
  margin: 0
  display: block
  overflow: hidden

.gameboard
  position: absolute
  top: 0
  left: 0
  // transform: translate(-50%, -50%)

.scoreboard
  display: inline-block

canvas
  background: url('../assets/game_background_1/layers/sky.png')
  // cursor: none
